body{
    background: url('../img/rain-figurine-1920x1280.jpg');
    background-size: cover;
}
#main{
    color: goldenrod;
    text-align: center;
    font-family: 'Roboto', sans-serif;    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Header */
header {
    margin: 10px;
    padding: 10px;

    flex: 1 1 100%;
}
h1 {
    font-family: 'Righteous', cursive;
    font-size: xx-large;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .8);    
}
h2{
    font-size: large;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .8);    
}

/* Summary */
#summary {
    margin: 10px;
    padding: 10px;
    border: 1px solid red;

    flex: 1 1 100%;
}

/* Footer */
footer {    

    display: flex;
    justify-content: space-around;
    flex: 1 1 100%;
}

footer> * {
    border: 1px solid red;
}

