body{
    background: url('../img/rain-figurine-1920x1280.jpg');
    background-size: cover;
}
#main{
    color: goldenrod;
    text-align: center;
    font-family: 'Roboto', sans-serif;   
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Header */
header {
    margin: 10px;
    padding: 10px;

    flex: 1 1 100%;
}
h1 {
    font-family: 'Righteous', cursive;
    font-size: xx-large;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .8);    
}
h2{
    font-size: large;  
}
.raised {    
    color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font: 30px 'ChunkFiveRegular';
}

/* Summary */
#summary {
    margin: 10px;
    padding: 10px;
    border: 1px solid red;
    background: white;     

    flex: 1 1 100%;
}
#now-tempF {
    display: inline-block;
    font-size: 3em;
    transition: all 1s ease;
}
#now-tempF:hover {
    color: black;
    transform: scale(1.05);
}
#now-icon {
    display: block;
    margin: 0 auto;
}
#two-day {
    display: flex;
    justify-content: space-around;
}
#one-week {
    display: flex;
    justify-content: space-around;
}

/* Footer */
footer {    
    display: flex;
    justify-content: space-around;
    flex: 1 1 100%;
}

footer> * {
    background: white;
    border: 1px solid red;
}

